.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

section {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
    margin: 0 auto;
    border-radius: .5rem;
}

section > * {
    flex: 1;
}

article {
    padding: 1.8rem;
    background-color: white;
    border-radius: 0 .5rem .5rem 0;
}

.product {
    object-fit: cover;
    max-width: 50%;
    border-radius: .5rem 0 0 .5rem;
}

.category {
    font-size: small;
    font-weight: normal;
    letter-spacing: .3rem;
    margin-block-start: 0;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", "serif";
    font-size: xx-large;
    font-weight: 700;
    line-height: 1;
    margin-block: 1.3rem;
    padding-inline: .25rem;
}

.original {
    margin-inline-end: .5rem;
}


.markDown {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-family: "Fraunces", "serif";
    font-size: xx-large;
    margin-inline-end: .85rem;
    vertical-align: middle;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 100%;
    text-align: center;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    font-family: "Montserrat", "sans-serif";
    margin-block-start: .5rem;
}

button:active {
    background-color: hsl(159, 35%, 24%);
}

.cart {
    margin-inline-end: .5rem;
    vertical-align: middle;
}

p {
    line-height: 1.65;
}

@media screen and (max-width: 480px) {
    body {
        max-width: fit-content;
    }
    section {
        display: flex;
        flex-wrap: column wrap;
    }
    article {
        border-radius: 0 0 .5rem .5rem;
    }
    .product {
        content: url(images/image-product-mobile.jpg);
        max-width: 100%;
        border-radius: .5rem .5rem 0 0;
    }
}



